<div class="card">
    <div class="card-header">
      {{pageTitle}}
      <input type="text"
        [(ngModel)]="filterKeyword" />
    </div>
    <div class="card-body">


      <div class="row"
          *ngIf="filterKeyword">
        <div class="col-md-6">
          <h4>Filtered by: {{filterKeyword}}</h4>
        </div>
      </div>

      <div class="row"
          *ngIf="!filterKeyword">
        <div class="col-md-6">
          <h4>Specialist</h4>
        </div>
      </div>
      <div class="table-responsive">
      <table class="table mb-0">
        <tbody>
          <tr  *ngFor = 'let item of filteredSpecialists'>
            <td>
              <a routerLink = '{{item.specialistName}}'>{{item.specialistName}}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
